.sidebar {
  grid-area: nav;
	background-color: rgb(198, 233, 198);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.active {
	color: gold;
}
