.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	gap: 10px;
}

.dialogsItems {
	padding: 10px;
	border: 1px solid lightgrey;
	display: flex;
	flex-direction: column;
}


.dialog a {
	color: black;
	text-decoration: none;
}

.dialog .active {
	color: gold;
}

.messages {
	padding: 10px;
	border: 1px solid lightgrey;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.message {
	border: 1px solid lightgrey;
	padding: 10px;
}